<div class='col-xs-10 col-xs-offset-1 about'>
  <h1>About Splurty</h1>
  <!-- Needs editing and updating -->
  <p>
    This application was initially inspired by fictional scoundrels of film and literature. The creator of this site first became fascinated by a soundrel by the name of Han Solo through Star Wars and has continued to be inspired by characters of a similar ilk in fiction and real life.
  </p>
  <p>
    Scoundrel
    <br/>
     -  A disreputable person : rascal - see: <a href="http://www.merriam-webster.com/dictionary/scoundrel">Merriam-Webster</a>
    <br/>
    - 1. A villian, a rouge 2. An evil person 3. A roughneck 4. A pirate 5. A criminal - see: <a href="http://www.urbandictionary.com/define.php?term=scoundrel">Urbandictionary.com</a>
  </p>
  <p>
    May the empty suits, tyrants, blind conformists, and frauds forever consider us scoundrels of the highest order.
  </p>
  <br/>
  <br/>

  <div class="col-xs-12 col-sm-3">
    <%= image_tag 'profilepic.jpg', :class => 'img-responsive' %>
  </div>
  
  <div class="col-xs-12 col-sm-9">
    <h4>Nathan Elliott</h4>
    <p>
      Splurty was built by <a href="https://github.com/NathanGE">Nathan Elliott.</a> Nathan is a software engineer specializing in Ruby on Rails web development. He has a diverse background with experience in a variety of creative pursuits in the arts, such as acting, stunt-work, and martial arts.
    </p>

  </div>

</div>
<br class="clear"/>








